<tr>
    <th>Vehicle id</th>
    <th>Make</th>
    <th>Model</th>
    <th>Plate number</th>
    <th>User email</th>
    <th>User id</th>
  </tr>
{{#each vehicles as |vehicle|}}
  
  <tr data-id="{{vehicle.id}}">
      <td>
      {{vehicle.id}}
      </td>

      <td>
      {{vehicle.make}}
      </td>

      <td>
      {{vehicle.model}}
      </td>

      <td>
      {{vehicle.registration_plate_number}}
      </td>

      <td>
      {{vehicle.user.email}}
      </td>

      <td>
      {{vehicle.user.id}}
      </td>

      <td><button id="edit-vehicle">Edit</button></td>

      <td><button id="delete-vehicle">Delete</button></td>

  </tr>

  

{{/each}}